:root{
  --color-back:#051932;
  --color-purple:#7c5e99;
  --color-floral-white:#fffcee;
  --color-fiery-rose: #f25a77;
  --color-sandstorm: #F5D547;
  --color-old-silver:#828282;
  --color-mantis:#62C370;

}